h1 {
font-family: "Helam Slab","Roboto Slab",Calibri,Helvetica,Arial,sans-serif;
/*color: #333;*/
font-size: 32px;
font-weight: 200;
text-rendering: optimizelegibility;
margin: 0px;
}

h2 {
font-family: "Helam Slab","Roboto Slab",Calibri,Helvetica,Arial,sans-serif;
color: #333;
font-size: 30px;
font-weight: 200;
text-rendering: optimizelegibility;
}

p {
	font-family: "Helam Slab","Roboto Slab",Calibri,Helvetica,Arial,sans-serif;	
}

li{
	font-family: OpenSans,Open Sans,sans-serif;
}

td{
	font-family: OpenSans,Open Sans,sans-serif;
	padding: 10px;
}

td:hover{
	background-color: #ebf1f2;
}

a:link
{
text-decoration:none;
}

.tituloAPP{
	background-color: #006184;;
    border-color: #bce8f1;
	text-align: center;
	color: #FFFFFF;
}

.subtituloAPP{
	background: #e9e9e9!important;
}

#tabla{
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

h2{
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}